{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
    {% for message in messages  %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container" style="margin-top: 8%;">
    <div class="col-lg-12 text-center">
        <h3>Login</h3>
    </div>
</div>
<div class="container mt-4" style="margin-bottom: 8%;">
    <form method="POST"> {% csrf_token %}
        {{ form|crispy }}
        <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% endblock %}