{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12 webTitle">
    <h2>My Activities</h2>
    <h3>The activities people registered are here.</h3>
</div>
<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6" style="text-align: right; margin-bottom: 4em;"><a href="{% url 'profilepage:activity_create_view' %}"><div class="btn btn-primary">+ Add Activity</div></a></div>
            <div class="col-lg-6" style="text-align: left; margin-bottom: 4em;"><a href="{% url 'profilepage:activity_registration_view' %}"><div class="btn btn-primary">+ Register</div></a></div>
        </div>
        <div class="row">
            {% if activity %}
                {% for i in activity %}
                    <div class="card" style="width: 16rem; margin-right: 4rem;">
                        <div class="card bg-success text-white">
                            <img class="card-img-top" src="{% static 'img/people-avatar.png' %}" alt="Card image">
                            <div class="card-body" style="margin-left: 2rem; margin-right: 2rem;">
                                <h5 class="card-title">{{ i.name }}</h5>
                                <p class="card-text">Registered:</p>
                                <ul>
                                    {% for j in person %}
                                        {% if j.activity_registered.name == i.name %}
                                            <p class="card-text"><li>{{ j.full_name }}</li></p>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5>There is no activity being held.</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}