{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <form action='.' method='POST'> {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-lg-8 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-lg-4 mb-0">
                {{ form.date|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'profilepage:activity_display_view' %}"><div class="btn btn-secondary">Back</div></a>
    </form>
</div>
{% endblock %}