{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styleaccordion.css' %}">
{% endblock %}
{% block content %}
<div class="col-lg-12 webTitle">
    <h2>My Accordion</h2>
</div>
<div class="thebody" style="margin-top: 4rem; margin-bottom: 4rem;">
    <div class="accordion">
        <div class="label">
            <h6 class="title expand">Current activity</h6>
            <img src="{% static 'img/arrow-up.png' %}" class="icon move-up">
            <img src="{% static 'img/arrow-down.png' %}" class="icon move-down">
            <img src="{% static 'img/plus.png' %}" class="icon-again expand change">
        </div>
        <div class="thecontent">
            <ul>
                <li>Struggling through the third semester at Faculty of Computer Science, University of Indonesia.</li>
                <li>Helping housechores since the Distance Learning era started.</li>
            </ul>
        </div>
    </div>
    <div class="accordion">
        <div class="label">
            <h6 class="title expand">Organizational experience</h6>
            <img src="{% static 'img/arrow-up.png' %}" class="icon move-up">
            <img src="{% static 'img/arrow-down.png' %}" class="icon move-down">
            <img src="{% static 'img/plus.png' %}" class="icon-again expand change">
        </div>
        <div class="thecontent">
            <ul>
                <li>Fakultas Ilmu Komputer, Universitas Indonesia</li>
                <p>Teaching Assistant of Discrete Math 1 (Aug 2020 - now)</p>
                <li>Dewan Perwakilan Mahasiswa (DPM) Fasilkom UI 2020</li>
                <p>Vice Head of Succession & Fostering Commission (Jan 2020 - now)</p>
            </ul>
        </div>
    </div>
    <div class="accordion">
        <div class="label">
            <h6 class="title expand">Committee experience</h6>
            <img src="{% static 'img/arrow-up.png' %}" class="icon move-up">
            <img src="{% static 'img/arrow-down.png' %}" class="icon move-down">
            <img src="{% static 'img/plus.png' %}" class="icon-again expand change">
        </div>
        <div class="thecontent">
            <ul>
                <li>Pemilihan Raya (Pemira) IKM Fasilkom UI 2020</li>
                <p>Secretary (Sep 2020 - now)</p>
                <li>Dasar-Dasar Pemrograman 0 (DDP0)</li>
                <p>Mentor (Aug 2020 - Sep 2020)</p>
            </ul>
        </div>
    </div>
    <div class="accordion">
        <div class="label">
            <h6 class="title expand">Achievements</h6>
            <img src="{% static 'img/arrow-up.png' %}" class="icon move-up">
            <img src="{% static 'img/arrow-down.png' %}" class="icon move-down">
            <img src="{% static 'img/plus.png' %}" class="icon-again expand change">
        </div>
        <div class="thecontent">
            <p>Error 404: No such file or directory</p>
        </div>
    </div>
</div>
<script src="{% static 'scriptaccordion.js' %}"></script>
{% endblock %}