{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 8%;">
    <div class="col-lg-12 text-center">
        <h3>Register</h3>
    </div>
</div>
<div class="container mt-4" style="margin-bottom: 8%;">
    <form method="POST"> {% csrf_token %}
        {{ form|crispy }}
        <p>Already have an account? Login <a href="/login">here</a></p>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock %}