{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12 webTitle">
    <h2>My College Courses</h2>
    <h3>The details of all courses I'm taking and I took are here.</h3>
</div>
<div class="container">
    <div class="col-lg-12">
        <div style="text-align: center; margin-bottom: 4em;"><a href="{% url 'profilepage:course_create_view' %}"><div class="btn btn-primary">+ Add Course</div></a></div>
        <div class="row">
            {% if object_list %}
                {% for instance in object_list %}
                    <a href="{{ instance.get_absolute_url }}"><div class="btn btn-dark" style="margin-right: 2em; margin-top: 2em;">{{ instance.title }}</div></a>
                {% endfor %}
            {% else %}
                <h5>There is no course added.</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
