{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <form action='.' method='POST'> {% csrf_token %}
        <h1>Are you sure you want to delete "{{ object.title }}"?</h1>
        <button type="submit" class="btn btn-danger">Yes, d0 it</button> <a href='../'><div class="btn btn-secondary">No, g0 back</div></a>
    </form>
</div>
{% endblock %}