{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12 webTitle">
    <h2>{{ object.title }}</h2>
</div>
<div class="container">
    <div class="col-lg-12">
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>Term</td>
                <td>: {{ object.term }}</td>
            </tr>
            <tr>
                <td>Lecturer</td>
                <td>: {{ object.lecturer }}</td>
            </tr>
            <tr>
                <td>Credits</td>
                <td>: {{ object.credits }}</td>
            </tr>
            <tr>
                <td>Place</td>
                <td>: {{ object.place }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>: {% if object.description != None and object.description != '' %}{{ object.description }}{% else %}Description coming soon!{% endif %}</td>
            </tr>
        </table>
        <div style="text-align: center; margin-top: 2em;"><a href="{% url 'profilepage:course_display_view' %}"><div class="btn btn-info">Back</div></a> <a href="{{ object.get_absolute_url }}delete/"><div class="btn btn-warning">Delete</div></a></div>
    </div>
</div>
{% endblock %}