{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Raihan's Web: About him, his projects, his blogs, and his nowaday games.">
        <meta name="keyword" content="Raihan's Web">
        <meta name="author" content="Raihan Rizqi">
        <title>Raihan's Web</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="icon" href="{% static 'img/letter-r.png' %}" type="image/x-icon">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top">
            {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'profilepage:profile_page' %}">Raihan's Web</a>
            {% else %}
                <a class="navbar-brand" href="{% url 'profilepage:landing_page' %}">Raihan's Web</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">PROJECTS</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://www.figma.com/proto/nZa4tZb0xvH1vfDd3QBMnG/Pacil-Student-Pack-PSP?node-id=115%3A17&viewport=139%2C198%2C0.35254237055778503&scaling=scale-down" target="_blank">Pacil Student Pack prototype</a>
                                <a class="dropdown-item" href="https://story-raihan-mk1.herokuapp.com/" target="_blank">Story 1 PPW (Simple Web about My Profile)</a>
                                <a class="dropdown-item" href="https://www.figma.com/file/XEQVUXyuNYdFh4CtOTYddI/Prototype-Story-2?node-id=1%3A2" target="_blank">Story 2 PPW (HiFi Prototype)</a>
                                <a class="dropdown-item" href="{% url 'profilepage:profile_page' %}">Story 3 PPW (HTML Bootstrap)</a>
                                <a class="dropdown-item" href="{% url 'profilepage:profile_page' %}">Story 4 PPW (Django Views + Template)</a>
                                <a class="dropdown-item" href="{% url 'profilepage:course_display_view' %}">Story 5 PPW (Django Models)</a>
                                <a class="dropdown-item" href="{% url 'profilepage:activity_display_view' %}">Story 6 PPW (Django Unit Tests)</a>
                                <a class="dropdown-item" href="{% url 'profilepage:accordion_page' %}">Story 7 PPW (JScript & JQuery)</a>
                                <a class="dropdown-item" href="{% url 'profilepage:booksearcher_page' %}">Story 8 PPW (AJAX Dynamic Data Access)</a>
                                <a class="dropdown-item" href="{% url 'profilepage:welcome_page' %}">Story 9 PPW (Auth, Session, and Cookies)</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">BLOGS</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://medium.com/@raihan66660" target="_blank">Medium</a>
                                <a class="dropdown-item" href="https://inilahblognyaraihan.blogspot.com/" target="_blank">Blogspot</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profilepage:game_page' %}">CURRENT GAMES</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hello, {{ user.get_username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-2">© Raihan Rizqi Muhtadiin 2020</div>
        </footer>
    </body>
</html>