{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12 webTitle">
    <h2>Current Games</h2>
    <h3>I'm currently playing these games.<br>Let's chitchat about 'em!</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'img/fe-echoes.jpg' %}" alt="FE Echoes Cover Art" class="mx-auto img-fluid" style="width: 640px; height: 360px; object-fit: cover;">
            <h3 style="font-size: 24px; margin-top: 2em; margin-bottom: 1em; text-align: center;">Fire Emblem Echoes: Shadows of Valentia</h3>
            <p style="text-align: center; margin-bottom: 2em;">So far, this game is the 3rd Fire Emblem mainline title I've played. The former two being Fire Emblem Awakening and Fire Emblem Fates. My progress now is I'm about to enter the Thabes Labyrinth for the ultimate challenge.</p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/ff6-cover.jpg' %}" alt="FF6 Cover Art" class="mx-auto img-fluid" style="width: 640px; height: 360px; object-fit: cover;">
            <h3 style="font-size: 24px; margin-top: 2em; margin-bottom: 1em; text-align: center;">Final Fantasy 6</h3>
            <p style="text-align: center; margin-bottom: 2em;">So far, this game is the 5th Final Fantasy mainline title I've played. The other four are 13, 9, 8, and 7 (I've completed their main story bar 7). I also have completed the main story of 13-2 and got around 70% completion of main story for Lightning Returns.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'img/p3p.jpg' %}" alt="Persona 3 Portable Cover" class="mx-auto img-fluid" style="width: 640px; height: 360px; object-fit: cover;">
            <h3 style="font-size: 24px; margin-top: 2em; margin-bottom: 1em; text-align: center;">Shin Megami Tensei: Persona 3 Portable</h3>
            <p style="text-align: center; margin-bottom: 2em;">A spin-off from its original titles, Shin Megami Tensei, I started playing this game because at the moment I just installed PPSSPP and don't know what game should I play first, so... yeah. The game has very dark story anyway.</p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/valkyria-chronicles.jpg' %}" alt="Valkyria Chronicles Cover Art" class="mx-auto img-fluid" style="width: 640px; height: 360px; object-fit: cover;">
            <h3 style="font-size: 24px; margin-top: 2em; margin-bottom: 1em; text-align: center;">Valkyria Chronicles</h3>
            <p style="text-align: center; margin-bottom: 2em;">One of the best strategy role-playing games until today, I've played the game until Chapter 3. So far, the story revolves around this boy Welkin and this girl I-don't-really-understand-who Alicia saving the city of Bruhl from invasion.</p>
        </div>
    </div>
</div>
{% endblock %}