{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 8%;">
    <div class="col-lg-12 text-center">
        <h3>Welcome to Raihan's Web.</h3>
    </div>
    <div class="col-lg-12 text-center" style="margin-top: 5%;">
        <p>You're not logged in.</p>
        <p>Login <a href="{% url 'login' %}">here</a></p>
    </div>
</div>
{% endblock %}