{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12 webTitle">
    <h2>Hello!</h2>
    <h3>Allow me to introduce myself.</h3>
</div>
<div class="container" style="margin-top: 4em; margin-bottom: 4em;">
    <div class="row">
        <div class="col-lg-4">
            <img src="{% static 'img/Raihan.png' %}" alt="Foto diri Raihan" class="mx-auto d-block img-fluid fotoDiri">
        </div>
        <div class="col-lg-8" style="padding-left: 2em;">
            <div class="dataField mx-auto d-block">Name: Raihan Rizqi Muhtadiin</div>
            <div class="dataField mx-auto d-block">Student ID: 1906353776</div>
            <div class="dataField mx-auto d-block">Batch: Maung 2019</div>
            <div class="dataField mx-auto d-block">Hobby: Play Fire Emblem and Final Fantasy, especially mainline series</div>
            <div class="dataField mx-auto d-block">University: Universitas Indonesia</div>
            <div class="dataField mx-auto d-block">Description:<br><div class="desc">Currently I am at my 3rd semester as an undergraduate student from Faculty of Computer Science at Universitas Indonesia. I am taking Information System major in search for more knowledge and experience about computer science combined with business and management. I have interest in game development and UI/UX Design. Outside computer industry, I am studying music composing, especially the orchestral one.</div></div>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4" style="padding-left: 2em;">
    <div class="row">
        <div class="col-lg-6">
            <div class="titlePart">Educational History</div>
            <ul class="timeline1" style="margin-left: 2em;">
                <li>
                    <p>Universitas Indonesia</p>
                    <p>Depok, West Java, Indonesia</p>
                    <p>2019 - now</p>
                </li>
                <li>
                    <p>SMAIT Daarul Hikmah Boarding School</p>
                    <p>Bontang, East Borneo, Indonesia</p>
                    <p>2016 - 2019</p>
                </li>
                <li>
                    <p>SMPIT Daarul Hikmah Boarding School</p>
                    <p>Bontang, East Borneo, Indonesia</p>
                    <p>2013 - 2016</p>
                </li>
                <li>
                    <p>SDIT Asy Syaamil</p>
                    <p>Bontang, East Borneo, Indonesia</p>
                    <p>2007 - 2013</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="titlePart">Accomplishments</div>
            <ul class="timeline2" style="margin-left: 2em;">
                <li>
                    <p>Awardee of Beasiswa Kaltimtuntas</p>
                    <p>East Borneo's Government tuition fee grant</p>
                    <p>Issued Jan 2020</p>
                </li>
                <li>
                    <p>2nd Winner of Lomba Karya Tulis Ilmiah</a>
                    <p>OSAGI VII Universitas Mulawarman Samarinda</p>
                    <p>Issued Feb 2017</p>
                </li>
                <li>
                    <p>3rd Best Speaker of English Debate Society</p>
                    <p>English Exhibition Days Universitas Trunajaya Bontang</p>
                    <p>Issued Oct 2016</p>
                </li>
                <li>
                    <p>3rd Winner of Final Kuis Kihajar Nasional</p>
                    <p>Kuis Kihajar Nasional Kemendikbud</p>
                    <p>Issued Nov 2015</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4" style="padding-left: 2em; text-align: center;">
    <div class="row">
        <div class="col-lg-6">
            <div class="titlePart">Skills</div>
            <ul class="timeline3 row">
                <div class="image-java col-lg-3">
                    <img src="{% static 'img/java.png' %}" alt="Java Logo" class="img-fluid logo">
                </div>
                <div class="java col-lg-9">
                    <li style="margin-bottom: 4em;">
                        <p>Java</p>
                        <p>Basic programming with Java</p>
                        <p>Learning since Jan 2020</p>
                    </li>
                </div>
                <div class="image-html-5 col-lg-3">
                    <img src="{% static 'img/html-5.png' %}" alt="Html5 Logo" class="img-fluid logo">
                </div>
                <div class="html5 col-lg-9">
                    <li style="margin-bottom: 4em;">
                        <p>HTML</p>
                        <p>Basic static web design with HTML</p>
                        <p>Learning since Nov 2019</p>
                    </li>
                </div>
                <div class="image-css col-lg-3">
                    <img src="{% static 'img/css.png' %}" alt="CSS Logo" class="img-fluid logo">
                </div>
                <div class="css col-lg-9">
                        <li style="margin-bottom: 4em;">
                        <p>CSS</p>
                        <p>Basic web design with CSS</p>
                        <p>Learning since Nov 2019</p>
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="titlePart">Experience</div>
            <ul class="timeline3 row">
                <div class="image-makara col-lg-3">
                    <img src="{% static 'img/makara.png' %}" alt="Makara Fasilkom UI" class="img-fluid logo">
                </div>
                <div class="makara col-lg-9">
                    <li style="margin-bottom: 4em;">
                        <p>Faculty of Computer Science, Universitas Indonesia</p>
                        <p>Teaching Assistant of Discrete Mathematics 1</p>
                        <p>Aug 2020 - now</p>
                    </li>
                </div>
                <div class="image-compfest col-lg-3">
                    <img src="{% static 'img/compfest.png' %}" alt="Compfest Logo" class="img-fluid logo">
                </div>
                <div class="compfest col-lg-9">
                    <li style="margin-bottom: 4em;">
                        <p>COMPFEST 12</p>
                        <p>Staff of Editorial Marketing</p>
                        <p>Feb 2020 - now</p>
                    </li>
                </div>
                <div class="image-dpm col-lg-3">
                    <img src="{% static 'img/dpmfasilkom.png' %}" alt="DPM Fasilkom Logo" class="img-fluid logo">
                </div>
                <div class="dpm col-lg-9">
                    <li style="margin-bottom: 4em;">
                        <p>DPM Fasilkom UI</p>
                        <p>Vice Head of Succession and Fostering Commission</p>
                        <p>Jan 2020 - now</p>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="connect" style="text-align: center; font-size: 30px;">
        Stay connected with me at:
    </div>
    <div class="socmed">
        <a href="https://www.instagram.com/raihanr2m"><img src="{% static 'img/instagram.png' %}" alt="Instagram" style="width: 3em; height: 3em;"></a>
        <a href="https://line.me/ti/p/~raihansurvival"><img src="{% static 'img/line.png' %}" alt="Line" style="width: 3em; height: 3em;"></a>
        <a href="https://twitter.com/RMuhtadiin"><img src="{% static 'img/twitter.png' %}" alt="Twitter" style="width: 3em; height: 3em;"></a>
        <a href="https://www.linkedin.com/in/raihan-rizqi-muhtadiin/"><img src="{% static 'img/linkedin.png' %}" alt="Linkedin" style="width: 3em; height: 3em;"></a>
        <a href="mailto: raihan66660@gmail.com"><img src="{% static 'img/gmail.png' %}" alt="Gmail" style="width: 3em; height: 3em;"></a>
        <a href="https://gitlab.com/Raiiz"><img src="{% static 'img/gitlab.png' %}" alt="Gitlab" style="width: 3em; height: 3em;"></a>
    </div>
</div>
{% endblock %}