{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 8%;">
    <div class="col-lg-12 text-center">
        <h3>Welcome, {{ user.username }}</h3>
    </div>
    <div class="col-lg-12 text-center" style="margin-top: 5%;">
        <p>You have visited this page {{ visit_amount }} time{% if visit_amount > 1 %}s{% endif %}.</p>
    </div>
</div>
{% endblock %}