h6 {
    font-size: 1.2rem;
}

.thebody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.title {
    flex-grow: 8;
}

.icon {
    height: 2.5%;
    width: 2.5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
}

.icon-again {
    height: 2.5%;
    width: 2.5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
}

.label {
    display: flex;
    align-items: center;
    background-color: #de551b;
    color: #ffffff;
    padding: 1.5%;
    cursor: pointer;
}

.label:hover {
    background-color: #c73e26;
}

.thecontent {
    background-color: #ffffff;
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    transition: 0.5s;
}

.accordion.active .thecontent {
    height: 8rem;
    transition: 0.5s;
}