#search {
    width: 50%;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin-bottom: 4rem;
}

#searchresults {
    margin-bottom: 4rem;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 8rem;
}

td {
    width: 16rem;
    text-align: left;
    vertical-align: top;
    overflow: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid #696969;
}

th {
    background-color: #f2ac23;
    width: 16rem;
    text-align: left;
    vertical-align: top;
}

tr:hover {
    background-color: #c0c0c0;
}