@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* overall HTML */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    font-family: "Source Sans Pro", sans-serif;
}

footer {
    background-color: #faf5f5;
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.form-text ul {
    list-style-type: none;
}

/* navbar section */
.navbar-dark {
    background-color: #ea6f39;
    padding-top: 0.5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-brand {
    color: #f5f4f3;
    font-family: "Pirata One", serif;
    font-size: 36px;
    font-weight: 400;
}

.navbar-dark .navbar-nav {
    color: #f5f4f3;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

/* web content */
#content {
    flex: 1 0 auto;
}

.webTitle {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.webTitle h2 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.webTitle h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.fotoDiri {
    max-width: 330px;
    height: 486px;
    object-fit: cover;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.dataField {
    width: auto;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.desc {
    font-size: 18px;
}

.titlePart {
    font-size: 30px;
    margin-bottom: 2em;
    text-align: center;
}

.logo {
    max-width: 6em;
    max-height: 6em;
}

.socmed {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* template timeline, taken and edited from freefrontend.com */
ul.timeline1 {
    list-style-type: none;
    position: relative;
}

ul.timeline1:before {
    content: ' ';
    background: #000000;
    display: inline-block;
    position: absolute;
    left: 20px;
    width: 1px;
    height: 100%;
    z-index: 400;
}

ul.timeline1 > li {
    padding-left: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

ul.timeline1 > li:before {
    content: ' ';
    background: #fdc830;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0px;
    width: 40px;
    height: 40px;
    z-index: 400;
    margin-top: 1.5em;
}

ul.timeline1 p {
    padding-left: 4vw;
    margin-bottom: 8px;
}

ul.timeline2 {
    list-style-type: none;
    position: relative;
}

ul.timeline2:before {
    content: ' ';
    background: #000000;
    display: inline-block;
    position: absolute;
    left: 20px;
    width: 1px;
    height: 100%;
    z-index: 400;
}

ul.timeline2 > li {
    padding-left: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

ul.timeline2 > li:before {
    content: ' ';
    background: #fdc830;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0px;
    width: 40px;
    height: 40px;
    z-index: 400;
    margin-top: 1.5em;
}

ul.timeline2 p {
    padding-left: 4vw;
    margin-bottom: 8px;
}

ul.timeline3 {
    list-style-type: none;
    position: relative;
}

ul.timeline3 img {
    margin-bottom: 32px;
}

ul.timeline3 p {
    margin-bottom: 8px;
}