{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'stylebooksearcher.css' %}">
{% endblock %}
{% block content %}
<div class="col-lg-12 webTitle">
    <h2>My Booksearcher</h2>
</div>
<div class="col-lg-12 d-flex justify-content-center">
    <input type="text" id="search" placeholder="Search a book here...">
</div>
<div class="container">
    <div class="col-lg-12">
        <div id="searchresults"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'scriptbooksearcher.js' %}"></script>
{% endblock %}